:root {
    --txt-color: #fff;
    --timer-box-bg: #1c2451;
    --timer-box-txt-bg: #085391;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-shadow: 0 5px 5px #ccc;
    height: 100%;
    color: var(--txt-color);
    font-family: cursive;
}

.fireworks-container {
	-webkit-animation: bg-pan-tl 15s linear infinite both;
	        animation: bg-pan-tl 15s linear infinite both;
            transition: 0.5s linear;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
}

@-webkit-keyframes bg-pan-tl {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @keyframes bg-pan-tl {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  
.content-wrapper {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 3rem;
    font-weight: 300;
}

.year {
    font-size: 14rem;
    font-weight: 900;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer>*~* {
    margin-left: 4rem;
}

.timer-box {
    box-shadow: 0 0 10px rgba(0,0,0,0.1),
    inset 0 0 10px #000;
    border-radius: 30px;
    background-color: var(--timer-box-bg);
}

.timer-box__count {
    --size: 10rem;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
}

.timer-box__count>span {
    font-size: 5rem;
    font-weight: 500;
}

.timer-box__text {
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1),
    inset 0 0 10px #000;
    background-color: var(--timer-box-txt-bg);
    border-radius: 30px;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 40%;
    }
}
@media only screen and (max-width: 280px){
    html{
        font-size: 30%;
    }
}